[submodule "themes/paperback"]
	path = themes/paperback
	url = https://github.com/damiencaselli/paperback.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
